name: Run RPM Lockfile Runner

# Controls when the workflow will run
on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Get Current branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: get_branch
      - name: Install dependencies
        run: |
          sudo apt-get -y install yq jq skopeo podman
          curl https://raw.githubusercontent.com/konflux-ci/rpm-lockfile-prototype/refs/heads/main/Containerfile | podman build -t localhost/rpm-lockfile-prototype -
      # Runs a set of commands using the runners shell
      - name: Run the Lockfile generator
        run: |
          cat config.yaml
          bash src/runner.sh
          cat ubi.repo
          cat rpms.lock.yaml
      - name: Commit and push the changes to release branch
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ steps.get_branch.outputs.branch }}
          message: "Updating branch with lockfile and ubi.repo"
          rebase: true
          author_name: Openshift-AI DevOps
          author_email: openshift-ai-devops@redhat.com
